*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

/* ::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #0f375a;
} */
/* outline: 1px solid red; */
/* border-radius: 2px; */

::-webkit-scrollbar {
  display: none;
}

.Toastify__toast-theme--light {
  font-size: 12px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
